@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@100;300;400;700&display=swap");

html {
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
}
.App {
  text-align: center;
  height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 50%;
  height: 80%;
}
img {
  width: 90%;
  height: 80%;
  object-fit: cover;
}
button {
  font-size: 20px;
}

button.btn.btn-danger {
  margin: 20px !important;
}
.buyNft {
  margin-top: 60px;
}
.footer {
  width: 100%;
  height: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px;
  margin-top: 40px;
}
/*Responsive*/
@media only screen and (max-width: 855px) {
  .App {
    height: 150vh;
  }
}
